# Cấu Hình Các File theo một định dạng trước

root = true # Chỉ Định Đây là File editorconfig gốc

[*] #Khai báo phạm vi áp dụng 
charset = utf-8 #Các file code lưu định dạng (encoding) nào
max_line_length = 0 #Số kí tự tối đa trên mỗi dòng
indent_size = 2 #Thụt lề vào bao nhiêu spaces
trim_trailing_whitespace = true #Loại bỏ các space dư thừa ở cuối dòng
end_of_line = lf #Kí tự xuống dòng là gì